@model IEnumerable<Register.Models.Info>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Logon";
}

<h1>User Account</h1>

<div>
    <h6>@ViewBag.UserId</h6>
    @if (ViewBag.UserId != null)
    {
        <form method="post" asp-action="Logout">
            <input type="submit" value="Logout" class="btn btn-primary" />
        </form>
    }
</div>

@if (ViewBag.UserId != null )
{

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    @if (ViewBag.userId == item.UserId && ViewBag.index == item.Id)
                    {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </td>
                    }
                </tr>
            }

        </tbody>

    </table>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>

                </tr>
            }

        </tbody>

    </table>
}
